@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6e6e6;
  margin: 0;
}

.title_background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 5px;
}

.image {
  height: 25px;
}

.title_text {
  font-weight: bold;
  font-size: 17px;
}

.title_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.location {
  color: #737373;
}

.location_row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.location_time {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 0px;
}
.date_time {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 5px;
}